 <!--todo este paquete no sirve mas, NADA VA A NINGUN LADO, BORRAR MAS ADELANTE-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/products.css">
    <title>Buenos Aires</title>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>
    <main>

        <!--primer titulo que siempre queda fijo-->

        <h1>Conocé Buenos Aires</h1>
 
<h3 class="color-h3">QUE HACER</h3>

      <!--primer box de fotos -->
    
    <div class="container1">
    <div class="pic-container1">
        <div class="pic-item">
            <img src="/images/bsas.jpg" alt="obelisco">
            
            <!--link que te lleva a Buenos Aires de noche-->
            <p>
               <nav><a href="/bairesnoche">Buenos Aires de noche</a></nav> 

            </p>

        </div>

        <div class="pic-item">
            <img src="/images/caminito2.jpg" alt="Imagen del producto">

            <p>
                Clásico city tour porteño
            </p>

        </div>
        <div class="pic-item">
            <img src="images/comida1.jpg" alt="Imagen del producto">

            <p>
                Gastronomia
            </p>
        </div>
        <div class="pic-item">
            <img src="images/flor1.jpg" alt="Imagen del producto">

            <p>
                Excursiones de dia
            </p>
        </div>
 </div>
</div>


        </div>

      
  
  


  


</main>






<!--FOOTER-->

    <footer>  <%- include('../partials/footer.ejs') %></footer>
</body>
</html>



<!--        <h3>Pasajes</h3>

        <div class="pic-item">
            <img src="img/product-bg.jpeg" alt="Imagen del producto">
            <p>
                Caja 4
            </p>
        </div>
        <div class="pic-item">
            <img src="img/product-bg.jpeg" alt="Imagen del producto">
            <p>
                Caja 5
            </p>
        </div>
        <div class="pic-item">
            <img src="img/product-bg.jpeg" alt="Imagen del producto">
            <p>
                Caja 6
            </p>
        </div>
        <h3> Que hacer</h3>


        <div class="pic-item">
            <img src="img/product-bg.jpeg" alt="Imagen del producto">
            <p>
                Caja 7
            </p>
        </div>
        <div class="pic-item">
            <img src="img/product-bg.jpeg" alt="Imagen del producto">
            <p>
                Caja 8
            </p>
        </div>
        <div class="pic-item">
            <img src="img/product-bg.jpeg" alt="Imagen del producto">
            <p>
                Caja 9
            </p>
        </div>
     
    </div>-->