<!DOCTYPE html>
<html>
  <%- include ('partials/head.ejs') %>
  <body>
  
    <!-- Header -->
    
    <main>
        <div class="container">
            
            <div class="boton-confirmar">
              <button type="submit" >  <a href ="/">Volver a inicio </a> </button>
              
          </div>
            <div>
                <img src ="images/404.jpg"  alt="not-found" width="1200" height="800"> 
            </div>
        </div>
    </main>
  
  </body>
</html>
