
<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head.ejs') %>
    </head>
    <body>
        <%- include('partials/header.ejs') %>

        <h1 style = "color: black; text-align: center;">Sección restringida - Ingresá como administrador para poder continuar </h1>

        <div class="button">
            <form action ="/login" >
                <p><input type="submit" href="#" value="LOGEATE PARA CONTINUAR"></p>
            </form> 
        </div>
        <footer>
            <%- include('partials/footer.ejs') %>
        </footer>
    </body>
 </html>