<footer class="footer">
  <link rel="stylesheet" href="/css/footer2.css">
  	
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

	<link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
  <hr>

  <br>

    <div class="l-footer">
        <br>
            <div>
              <h2><img src="/images/gif.gif" alt="logo" style="width: 40%; "> </h2>
            </div>
    </div>
    <ul class="r-footer">
      <li>
              <h2 style="font-size: 20px;"> Nuestras redes</h2>
              <ul class="box h-box"> 
                  <li> <a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li> <a href="#"><i class="fa fa-instagram"></i></a></li>
                  <li> <a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li> <a href="#"><i class="fa fa-youtube"></i></a></li>
              </ul>
      </li>

      <li class="features">
        <h2 style="font-size: 20px;">Contactenos</h2>
          <ul class="box h-box">
                  <li><a href="/contacto">Envienos un mensaje</a></li>
                  <li><a href="#">Sobre Nosotros</a></li>
                  <li><a href="#"></a></li>
          </ul>
     
        <hr>
        <br>
        <h2 style="font-size: 20px;">Legales</h2>
          <ul class="box h-box">
            <li><a href="#">Privacidad</a></li>
            <li><a href="#">Terminos y condiciones</a></li>
            <li><a href="#"></a></li>
          </ul>  
      </li> 

    </ul>

<hr>
<br>

  <div style="text-align: center; color: grey;">
    <br>
    <p>Copyright - 2021 www.turisteando.com.ar, TODOS LOS DERECHOS RESERVADOS. Las fotos contenidas en este site, el logotipo y las marcas son propiedad de www.turisteando.com.ar y/o de sus respectivos titulares. Está prohibida la reproducción total o parcial, sin la expresa autorización de la administradora de la tienda virtual. Turistando S.A. con domicilio en Calle Falsa 123 - Mendoza – Argentina.</p>
    <br>
    <hr>
    <br>
    <p>Una producción de Florencia Belmaña y Alvaro Sopeña </p>  
  <div>


</footer>
  
  
   
   
   
   