<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/footer2.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/log.css">
    <link rel="stylesheet" href="/css/products.css">
    <link rel="stylesheet" href="/css/partners.css">
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Turisteando</title>
</head>