<marquee class="provincias">
      
    <span>
        PROVINCIAS ARGENTINAS: 
            <% provincias.forEach(provincia => { %>
                <li>
                <p> <%= provincia.nombre %></p>    
                </li>
            <% } )%> 
    </span>

 

</marquee>